.products-container {
    padding: 20px;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    display: block; 
    width: 100%; 
    box-sizing: border-box; 
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.products-container::-webkit-scrollbar {
    display: none; 
}

.products-list {
    display: inline-flex; 
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.products-list-item {
    padding: 10px 20px; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
    cursor: pointer;
}
.products-list-item h3{
    font-size: 20px;
    margin: 0px;
}

@media (max-width: 768px) {
  .products-container {
    padding: 10px;
    overflow-x: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  .products-list-item h3{
    font-size: 16px;
    margin: 0px;
}
.products-list-item img {
    width: 20px;
    height: 20px;
}
}

.products-list-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 10px; 
}
