/* Container for the product list */
.products-container {
    padding: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
    display: block; /* Ensure the container is a block-level element */
    width: 100%; /* Ensure the container takes up the full width */
    box-sizing: border-box; /* Include padding in the container's width calculation */

    /* Hide scrollbar but still allow scrolling */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

.products-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and other WebKit browsers */
}

/* Ensure the product list items align horizontally */
.products-list {
    display: inline-flex; /* Ensure horizontal alignment of the items */
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.products-list-item {
    padding: 10px 20px; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    display: flex;
    align-items: center;
}
.products-list-item h3{
    font-size: 20px;
    margin: 0px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .products-container {
    padding: 10px;
    overflow-x: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  .products-list-item h3{
    font-size: 16px;
    margin: 0px;
}
.products-list-item img {
    width: 20px;
    height: 20px;
}
}

.products-list-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 10px; 
}
