.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    border-bottom: 1px solid grey;
}



.logo img{
    width: 75px;
    height: 75px;
}

.nav-buttons{
    display: flex;
    gap: 20px;
}

.nav-buttons button{
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
@media (max-width: 768px) {
.navbar-container {
    padding: 10px 16px;
  }
}