.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    border-bottom: 1px solid rgb(183, 183, 183);
    /* position: fixed;
    top: 0px;
    width: 100%; */
}

.username-display{
    
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
}
.cart-container-icon {
    position: relative;
    display: inline-block;
    padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  width: 17%;
  cursor: pointer;
  }
.custom-badge {
    position: absolute;
    top: -5px;
    right: -17px;
    background-color: rgb(122, 122, 215);
    color: white;
    font-size: 10px;
    padding: 4px 6px;
    border-radius: 50%;
    font-weight: bold;
  }
.username-display img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.address-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.address-section p{
  margin: 0px;
}
.logo img{
    width: 75px;
    height: 75px;
}

.nav-buttons{
    display: flex;
    justify-content: center;
  align-items: center;
    gap: 20px;
}
.cart-icon{
    width: 30px;
    height: 30px;
}
.nav-buttons button{
    background-color: lightskyblue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.all-details{
  display: flex;
  justify-content: center;
  align-items: center;
gap: 20px;
}
.login-register-btn{
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
.navbar-container {
    padding: 10px 16px;
    align-items: flex-start;
  }
  .custom-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: rgb(122, 122, 215);
    color: white;
    font-size: 7px;
    padding: 4px 6px;
    border-radius: 50%;
    font-weight: bold;
  }
  .cart-container-icon {
    position: relative;
    display: inline-block;
    padding: 7px;
    background-color: #f8f8f8;
    border-radius: 8px;
    width: 50%;
  }
  .nav-buttons {
flex-direction: column-reverse;
gap: 10px;
  }
  .username-display {
    padding: 10px 0px;
  }
  .login-register-btn{
    display: flex;
    gap: 10px;
  }
  .address-section {
    margin-left: -142px;
    justify-content: flex-start;
  }
}