.details-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-container h2 {
  margin-bottom: 15px;
}

.details-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background: #f9f9f9;
  width: 41%;
}

.details-card p {
  margin: 8px 0;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .details-card {
    width: 100%;
  }
}
