.login-container{
    width: 500px;
    margin: 80px auto;
   
}

.login-container form{
    border: 1px solid skyblue;
    border-radius: 20px;
    padding: 20px;
    background-color: #fbf6eb;
}

@media (max-width: 768px) {
    .login-container{
        width: 80%;
        margin: 40px auto;
    }
}